[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"
pytest = "*"
requestes = "*"
requests = "*"
colorama = "*"
flask = "*"
"psycopg2" = "*"
flask-wtf = "*"
wtforms = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.6"
