.boxmodel {
    border: 5px solid red;
    display: inline-block;
    padding: 5px 20px;
    margin: 0px 20px;
    width: 33px;
    height: 55px;
}

p {
    font-size: 20px;
}

/* 2em = 2 times the size of containing element */
/* 2rem = 2 times the size in relation to the root element (usually html element) */
span {
    font-size: 2em;
}