<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input 
        matInput 
        type="text" 
        formControlName="title"
        placeholder="title"  
      >
      <mat-error *ngIf="form.get('title').invalid && form.get('title').touched">Please enter a title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
        matInput type="text" 
        formControlName="description"
        placeholder="description"
      >
      <mat-error *ngIf="form.get('description').invalid && form.get('description').touched">Please enter a description</mat-error>
    </mat-form-field>
    <div>
      <button
        mat-raised-button 
        type="button"
        color="primary"
        (click)="filePicker.click()"
      >Upload Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <mat-form-field>
      <textarea 
        matInput 
        rows="4" 
        formControlName="content"
        placeholder="place post here"  
      ></textarea>
      <mat-error *ngIf="form.get('content').invalid && form.get('content').touched">Please enter some content</mat-error>
    </mat-form-field>
    <button 
      mat-raised-button 
      color="primary"
      type="submit"
    >Save</button>
  </form>
</mat-card>