<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input 
        matInput 
        type="text" 
        name="title"
        placeholder="title" 
        [ngModel]="post?.title" 
        required
        #title="ngModel"
      >
      <mat-error *ngIf="title.invalid && title.touched">Please enter a title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
        matInput type="text" 
        name="description" 
        placeholder="description"
        [ngModel]="post?.description" 
        required
        #description="ngModel"
      >
      <mat-error *ngIf="description.invalid && description.touched">Please enter a description</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea 
        matInput 
        rows="4" 
        name="content"
        placeholder="place post here" 
        [ngModel]="post?.content" 
        required
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid && content.touched">Please enter some content</mat-error>
    </mat-form-field>
    <button 
      mat-raised-button 
      color="primary"
      type="submit"
    >SAVE</button>
  </form>
</mat-card>

